<h1>Log In</h1>

<form action="/login" method="post">

	<div>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<label>Email:</label>
		<input type ="email" name= "email" placeholder="username">
	</div>

	<div>
		<label>Password:</label>
		<input type="password" name="password" placeholder="password">
	</div>
		<input type="submit">
</form>

<%= link_to "Create Account", '/users/new' %>