// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hrBar {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 50%;
}

.post {
	height: 80px;
	margin-bottom: 1%;
}

.postBoxHeader {
	color: blue;
}

.postIndexTopBar{
    border-bottom:solid black 4px;

	h3:nth-child(1){
		margin-top: 4px;
		text-align: left;
	}

	a {
		margin-left: -1%;
		margin-top: 3px;
		position: relative;
		padding-right: 105px;
	}
} 

.postShow {
	background: rgb(250, 250, 250);
	border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	height: 100%;
    text-align: center;
    width: 100%;
}


.postShowSections{
	width: 100%;
	height: 100%;
}
.postShowTitleSection {
	min-height: 250px;
	color: black;
	font-family: 'Advent Pro', sans-serif;
	position: relative;
	text-align: center;
	word-wrap: break-word;
	
	h1 {
		font-size: 2em;
	}

	h5 {
		font-size: 1.5em;
	}
}

.postShowCommentSection {
	font-family: 'Advent Pro', sans-serif;
}

.postCommentBox {
overflow-y:scroll; overflow-x:hidden; height:350px;
}

.postComments {
	font-size: 1.2em;
}
.newPost {
	font-family: 'Advent Pro', sans-serif;
	color: black;
	position: relative;
	font-size: 20px;
	text-align:center;
	background: rgb(250, 250, 250);
	min-width: 250px;
	border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    button {
    	margin-top: 1%;
    	margin-bottom: 1%;
    }
}
.postShowContentDiv {

}

.postIndexList{
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	width: 98%;
	height: 100%;
	color: black;
	background: rgb(250, 250, 250);
	border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-transform: capitalize;
}

.postIndexList a {

}

.postIndexListTable {
	margin-left: -1.6%;
}

.postIndexListTableItem{
	// border-bottom-width: 2px;
	// border-color: black;
	// border-style: solid;
}

.postSingle {
	border-style: solid;
    border-width: 1px;
    border-bottom: black 1px;
    h5:nth-child(1){
    	font-size: 15px;
    	word-wrap: break-word; 
    	padding-left: 2%;
    	font-family: 'Dosis', sans-serif;
    	text-transform: capitalize;
    }
}
.postSingle:hover { 
    background-color: yellow;
}
.sortButtons {
	margin-top: 0%;
	min-width: 100%;
	a {
		min-width: 100%;
	}
}